<div class="about-container">
    <h1>About The Amazing Music Library</h1>
    <div class="content">
        <img src="https://media.istockphoto.com/id/139975548/photo/sam.jpg?b=1&s=170667a&w=0&k=20&c=sV9NJ0i4Ob0l3loyOCad714YVIKGhywM9N_7pQ767e0=">
        <p>The Amazing Music Library was originally created to keep a record of the astounding music collection of Lord Abraham Archibald Reginald III. 
            Created by Lord Reginald's descendants at the Abraham Archibald Reginald Music Preservation Foundation to track his unrivaled collection of 
            thousands of <a href="https://en.wikipedia.org/wiki/Phonograph_cylinder" target="_blank">Edison Phonograph Cylinders</a>, they have since released
            this totally awesome music library software to the public. (Just don't refresh the page!)
        </p>
    </div>
</div>

